
/*CSS Reset*/
*{
    box-sizing: border-box;

}
body, header, nav, main, footer, img, h1, section, aside, figure, figcaption, ul {
    margin: 0;
    padding: 0;
    border: 0;
    
}

/*Style rule for images*/
img {
    max-width: 100%; /*The max-width property defines the maximum width of an element. If the content is smaller than the maximum width, the max-width property has no effect.*/
    display:block; /*Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width*/

}

/*Style rule for MOBILE viewport*/
.tab-desk, #menu-links {
    display: none; /*You cant see any of these when you are in mobile view*/
}

/*Style rules for header content*/
header {
    text-align: center;
    font-size: 1.5em;
    color: #373684;
}

header h1{
    font-style: italic;
    font-size: 1.5em;
    padding: 4%;
    margin-right: 15%;
}

/*Style rules for navigation area*/
nav {
    background-color:  #373684; /*nav is a block. It goes across the page unless you change the width*/
    padding: 1%;
    margin-bottom: 1%;
}

.mobile-nav a { 
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #373684;
}

/*Hide tab-desk class*/
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/*Style rules for main content*/
main {
    background-color: #e5e9fc;
    padding: 2%;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    overflow: auto; /* Overflow property specifies what should happen if content overflows an element's box. If overflow is clipped, a scroll-bar should be added to see the rest of the content, only works for block elements */
}

.tel-link {
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #373684;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    
}

.tel-link a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    text-decoration: none;
    
}

.hours {
    margin-left: 10%;
}

.action {
    font-size: 1.25em;
    color: #373684;
    font-weight: bold;
}

#piano, #guitar, #violin {
    margin: 0 2%;
}

.round {
    border-radius: 8px;
}


#info {
    clear: left;
    background-color: #c0caf7;
}

.free {
   
    margin-top: 3%;

}
/*Style rules for form elements */
fieldset, input {
    margin-bottom: 2%;

}

fieldset, legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 3%;
}

form, #submit {
    margin: 0 auto 0 auto;
    display: block;
    padding: 3%;
    background-color: #b7b7e1;
    font-size: 1em;

}


/*Style rules for footer content */
footer {
    text-align: center;
}

#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

.map {
    border:2px solid #373684;
    width: 95%;
    height: 50%;
}

/* Style rules for tables */
table {
    border: 1px solid #373684;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th, td {
    border: 1px solid #373684;
    padding: 2%;
}

th {
    background-color: #373684;
    color: #fff;
    font-size: 1.15em;
}

tr:nth-child(odd) {
    background-color: #b7b7e1;
}
.email-link a{
    color:#373684;
    font-weight: bold;
    text-decoration: none;
    
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #373684;
    text-shadow: 3px 3px 10px #8280cb;

}

figure {
    position: relative;
    max-width: 275px;
    margin: 2% auto;
    border: 8px solid #373684;
}

figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(55, 54, 132, 0.7);
    color: #fff;
    width: 100%;
    padding: 5% 0;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;

}


/*Media Query for TABLET Viewport*/
@media screen and (min-width:550px),print {

    /* Tablet Viewport: Show tab-desk,hide mobile class*/
    .tab-desk {
        display: block;
    }
    .mobile, .mobile-nav {
        display: none;
    }
    /* Table Viewport: Style rule for header content*/
    span.tab-desk {
        display:inline;
    }
    /*Tablet Viewport: Style rules for nav area*/
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
        border-right: 1px solid #e5e9fc;
    }
    nav li:last-child {
        border-right: none;
    }
    nav li a {
        padding: 0.25em 0.5em 0.25em 0.5em;
    }

    nav ul {
        list-style: none; /*ul removed the bullet points and centered the text*/
        text-align: center; /*this will align the achor links as well*/
    }
    
    nav li a {
        display: block;
        color: #fff;
        text-decoration: none; /*a removes the underline*/
    }
    /*Tablet Viewport: Style rule for header content*/
    header h1 {
        margin: 0;
        padding: 0;
        font-size: 2em;

    }
    /* Tablet Viewport: Style rules for main content area*/
    main ul {
        margin: 0 0 4% 10%;
    }
    .tel-num {
        font-size: 1.25em;
    }
    /*Tablet Viewport: Style rule for map*/
    .map {
        width: 500px;
        height: 450px;
    }
    .grid {
        display: grid;
        grid-template-columns: 2;
        grid-gap: 20px;

    }

    aside {
        grid-column: 1 / span 2;
    }
    /*Style rule for form element*/
    form {
        width: 70%;
        margin: 0 auto 0 auto;
    }
}


/*Desktop Viewport: Style rule for Desktop Viewport*/
@media screen and (min-width:1015px),print {

    /* Desktop Viewport: Style rule for header content*/
    header {
        padding: 2%;
    }
    /*Desktop Viewport: Style rules for nav area*/
    nav ul {
        text-align: right;
    }
    nav li {
        border: none;
    }
    nav li a {
        padding: 0.5em 1.5em 0.5em 1.5em;
    }
    nav li a:hover {
        color: #373684;
        background-color: #e5e9fc;
        transform: scale(1.2);

    }
    /*Desktop Viewport: Style rule for main content*/
    #info ul {
        margin-left: 5%;
    }
    main h3 {
        font-size: 1.5em;
    }
    #piano, #guitar, #violin {
        width: 29%;
        float: left;
        margin: 0 2% 0 2%;

    }
    .grid {
        grid-template-columns: 4;
    }

    figcaption {
        font-size: 1em;
    }
    .grid {
        grid-column: 1 / span 4;
    }
    /*Desktop Viewport: Style rules for table*/
    table {
        width: 70%;
    }
    /*Style rule for form element*/
        .form-grid {
            width: 70%;
            margin: 0 auto 0 auto;
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;
        }
    .btn {
        grid-column: 1 / span 2;
    }


}
/* Media Query for Large Desktop Viewports*/
@media screen and (min-width: 1921px) {

    #container {
        width: 1920px;
        margin: 0 auto;
    }

}

/*Media Query for Print*/
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}